:root {
  --green-deep: #164a41;
  --green-medium: #4d774e;
  --green-light: #9dc88d;
  --my-yellow: #f1824a;
  --white: #ffffff;
  --my-black: rgb(36, 35, 35);
  --grape-pink: #9a4d55;
  --grey-blue: #4b6777;
  --primary: #3dcfd3;
  --dark: #161616;
  --pure: #ffffff;
  --ternary: #898989;
  --light: #f2f2f2;
  --secondary: #070606;
}
html, body {
  overflow-x: hidden;
}
body {
  position: relative
}

.logo {
width: 80px;
height: auto !important;
fill: white;
padding-right: 15px;
margin-top: 2px;
border-radius: 30%;


}
.img-fluid{
  padding-top: 100px;
  width: 400px;
}
form.example input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  /*float: left;*/
  width: 80%;
  background: #f1f1f1;
}
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196f3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}
.testimonial-section {
  background-color: rgb(77, 76, 76);
  color: #f1f1f1;
}
.reviews_container {
  max-width: 1152px;
  padding: 0 15px;
  margin: 0 auto;

}

@media (min-width: 576px) {
  .reviews_container {
    max-width: 540px;
  }
  .apa-paginate-btn{
    width: 50px !important;
  }
}

@media (min-width: 768px) {
  .reviews_container {
    max-width: 720px;
  }
 
}

@media (min-width: 992px) {
  .reviews_container {
    max-width: 960px;
  }

}

@media (min-width: 1200px) {
  .reviews_container {
    max-width: 1152px;
  }
}
section {
  padding: 6rem 0;
}

.reviews .slider .slide img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
   object-fit: cover;
   margin-bottom: 2rem;
}
.reviews .slider .slide {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 3rem;
}
.reviews .slider .slide p {
  font-family: "Lato", sans-serif;
  color: var(--ternary);
  margin-bottom: 1rem;
}
.reviews .slider .slide span {
  font-size: 0.8rem;
}
.reviews .slider-dots .dots {
  list-style-type: none;
  display: flex !important;
  justify-content: center;
}
.reviews .slider-dots {
  margin-top: rem !important;
}

.reviews .slider-dots button {
  font-size: 0;
  width: 8px;
  height: 5px;
  margin-right: 0.3rem;
  border: none;
  outline: none;
  background: var(--ternary);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  cursor: pointer;
}
.reviews .dots li.slick-active button {
  background: var(--primary);
  width: 20px;
}
.reviews .slider .slide {
  padding: 0;
}
.testimonial-title {
  color: white;
  font-size: 550% !important;
}
.orange-text {
  color: var(--my-yellow);
  font-family: Oswald !important;
}

.zoom,
.small {
  overflow: hidden;
}
.zoom img {
  transition-duration: 1s;
  margin: 0 auto;
  display: block;
}
.zoom img:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  z-index: 0;
}

.img-fluid-member{
  height: 300px !important;
}

.description .bold-text{
  font-weight: 600;
  padding: 3%;
  font-size: 18;
  font-family: Josefin Sans;
}

.description .name-tag {
  font-size: 18;
  font-family: Josefin Sans;

}
.description{
  padding: 3%;
  text-align: justify;
  font-family: Josefin Sans;

}
.apa-search-bar{
  width: 500px;
  margin-top: 5%;
  font-family: Oswald;
  letter-spacing: 1.3px !important; 
  margin-bottom: 5%;
  font-size: 220% !important;
}

p{
  font-family: Josefin Sans;
}

.apa-btn-design{
  background-color: rgba(255, 255, 255, 0.89);
  width: 50%;
  border: 2px solid var(--my-yellow);
  letter-spacing: 1.3px;
  font-size: 60%;
  border-radius: 45px;
}
.apa-btn-design:hover{
  background-color: #f8f9d2;
  background-image: linear-gradient(315deg, #f8f9d2 0%, #e8dbfc 74%); 
 transition-duration: 1s;
}
.apa-paginate-btn{
  background-color: rgba(0, 0, 0, 0.89);
  color: #774d4d;
  width: 100px !important;
  color: rgb(182, 179, 179);
list-style:none;
  border-radius: 45px;
  text-decoration: none !important;
}
.apa-paginate-btn:hover{
  background-color: rgba(179, 175, 175, 0.89);
  color: rgb(26, 25, 25);
 transition-duration: 1s;
}
.card{
  background-color: rgb(255, 255, 255) !important;
}
.card:hover{
  background-color: #f8f9d2;
  background-image: linear-gradient(315deg, #f8f9d2 0%, #e8dbfc 74%); 
}
.image-fluid-member{

  height: 50%;

}  @media only screen and (max-width: 768px) {
  .apa-btn-design{
    width: 100px !important;
    position: relative;
    right: 20%;
  }
  .apa-search-bar input{
align-content: center;
width: 58%;  
  }

}
.slick-slide{
  float: left;
  height: 50%;
  min-height: 1px;
}