{% extends 'home/base.html' %} 
{% load static %}

{% block head %}

<title> APA | About us</title>

{% endblock %} 

{% block content %}
<div id="parallax-apa" style="margin-top: 6%;">
  <section>
    <div class="title header-aboutus">
      <h1>Ayurved Proctology Association</h1>
    </div>
  </section>

  
  <section>
      <div class="parallax-one">
        <h2>Principally Ayurveda is much beyond the confines of a cure alone. </h2>
      </div>
  </section>
  
  <section>
    <div class="block">
      <p><span class="first-character sc">A</span>yurved Proctology Association was established in 2017 under the dynamic leadership of its passionate founder - Dr. Mahesh V. Sanghavi. Dr.Sanghavi has witnessed & contributed four decades to the glorious progress of proctology practices.  </p>
      
      <p class="margin-top-10"> 
        It was due to his love for ayurveda that made all ksharsutra practitioners come under one roof and share their experiences and knowledge.
         Ksharsutra is a significant pillar in the field of Ayurveda, accepted for its utility in proctology practices. 
         It has a success rate of 99% in simple anorectal infections and 97% in complicated conditions. </p>


       <p> In older days, there was a lack of proctology practitioners.
        The practice in this field was in the hand of quacks who had inherited the skill without any basic medical knowledge. 
        This lack of skill can often cost lifelong problems post-treatments and can be risky if not performed by trained, experienced doctors.</p>


         <p> Merely herbs or their formulations do not comprise much of Ayurveda, as principally Ayurveda is much beyond the confines of a cure alone. 
          At APA, we believe in <i>ekam na shastra</i>, a shlok which teaches us to never depend on one branch of science. </p>

          <p>
            Our highly trained doctors and the researchers are incredibly devoted and focused in their fields to provide world-class ayurvedic treatment.
            Hon. Late Dr. P.J.Deshpande is an outstanding alumnus of Banaras Hindu University. 
            He reinvented Ksharsutra therapy, and  many students were trained under him, which eventually led to an increase in the number of trained professionals globally.
             As they started to dive deeper into the area of pre-procedural, procedural, and post-procedural problems, the guidance of senior practitioners became indispensable. 
          </p>
      <p>  Keeping the need for guidance in mind and Dr. 
        Deshpande as our constant inspiration, we wanted to take his dreams forward and produce high-end ayurvedic proctologists throughout the country.
         This led to the formation of the ‘Ayurved Proctology Association’ in 2017. </p>

         <p>        We provide platforms to proctology practitioners throughout the country by conducting conferences, Hands-on training, workshops, medico-legal supports, and encouragement for research work in the field of proctology.
        </p>
        
        <p style="font-weight: 600; text-align: center;">एकम् शस्त्रम आधीयानो न विद्यत शा स्तृनिश्चयम् । <br>
          तस्मात बहुविधं शस्त्रं विजानीयात चिकित्सक ॥</p>
        
        
      </p>
    </div>
  </section>
  
  <!-- <section>
    <div class="parallax-two">
      <h2>Ekam Shastram adhiyano na vidhya shatra nischayam!
        Tasmat bahushrutah shastram bijaniyach chikitsaha!!</h2>
    </div>
  </section> -->
  
  
  </div>

  
{% endblock %}
