{% extends 'home/base.html' %} {% load static %} {% block head %}

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">

  <title>APA | Gallery</title>

<!-- <link rel="stylesheet" type="text/css" href="{% static 'home/preloader.css' %}"> -->
<style>
  
  body {
      margin: 0;
      font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #212529;
      text-align: left;
      background-color: #eceaea;
      margin-top: 5%;
  }
</style>
<title>Our Gallery</title>

{% endblock %}


{% block content %}
<h1 style=" margin-top:20px; padding: 2%; font-size: 250%; color:black !important;">Gallery</h1>

<div class="container  gallery-container">
  <div class="tz-gallery">


    <div class="row">
      {% for p in photos %}

      <div class="col-sm-6 col-md-4">
        <a class="lightbox" href="{{ p.photo.url }}">
          <img src="{{ p.photo.url }}" >
        </a>
      </div>

      {% endfor %}

    </div>
  </div>
</div>


{% if image_list.has_other_pages %}
  <nav aria-label="Page navigation conatiner"></nav>
  <ul class="pagination justify-content-center">
    {% if image_list.has_previous %}
    <li><a href="?page={{ image_list.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
    {% endif %}
    {% if image_list.has_next %}
    <li><a href="?page={{ image_list.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
   {% endif %}
  </ul>
  </nav>
</div>
{% endif %}




  
{% endblock %}
{% block scripts %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script type="text/javascript">
  baguetteBox.run('.tz-gallery');
</script>
  
{% endblock scripts %}