{% extends 'home/base.html' %} {% load static %} 


{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'home/event-copy.css' %}">
<title>APA | Resources </title>

    
{% endblock head %}

    
{% block content %}

    <header class="header">
        <div class="text-box">
          <h1 class="heading-primary">
            <span class="heading-primary-main" style="font-size: 110%;"> Referance materials and books </span>
          </h1>
          <!-- <a href="#" class="btn btn-white btn-animated">SCROLL DOWN</a> -->
        </div>
        <div class="box">
          <span></span>
          <span></span>
          <span></span>
          </div>
      </header>

      <div class="container" style="margin-top: 5%;">
        <!-- <h2 class="sub-title" style="margin-top: 7%; text-align: center;">Books</h2> -->

    <div class="row">

        <div class="col-lg-12" style="margin-top: 5%;">
            <ul>
              {% for resources in resource %}
              <li>
                  <h1 style="color: black !important; text-align: left; font-family: Oswald !important;">{{ resources.book_title }}</h1> 
                  <span class="book-details" style="font-size: large;font-family: Josefin Sans !important; color: gray;"> 
                  {% if resources.author_name %}
                   <span style="font-size: large; font-family:Josefin Sans !important; color: gray;"> by </span>
                  {% endif %}
                    {{ resources.author_name}}</span>



  <span style="color: gray; font-size: large; font-family: Josefin Sans;">
    {% if resources.publisher_detail %}
    , Publishers:
  {% endif %}
    {{ resources.publisher_detail }}
  </span>
   
                    {% if resources.details %}
                     <p style="font-family: Josefin Sans !important; margin-top: 5%;"> <span style="font-weight: bold; font-family: Josefin Sans;">More:</span> {{resources.details}}</p>
                    {% endif %}
                      

                    <p><a href="{{ resources.pdf_link }}" download="{{ resource.book_title }}">{{ resources.clickable_text}}</a></p>


            </li>

            <hr style="height: 150%;">

              {% endfor %}
                  
            </ul>

        </div>

        
    </div>
</div>
    <div style="height: 200px;"></div>
{% endblock content %}


    