{% extends 'home/base.html' %} 
{% load static %}
{% block head %}

<title>APA | Videos </title>

{% endblock %} 


{% block content %}

<div class="container wrap-main " style="margin-top: 10%;">
    <div class="row">
     
      <div class="col-lg-8">
            {% for v in video %}
            <iframe style="border-radius: 7px; box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;"  width="350" height="255" src="{{ v.display }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
            {% endfor %}       
      </div>
      <div class="col-lg-4">
        <h3 style="font-family: Oswald;">Recent Videos</h3>
        <hr style="border-top: 2px solid black;">
      <div class="row">
        {% for videos in video_side %}
        <div class="col-lg-6 my-2">
          <div class="video-side-box">
            <iframe style="border-radius: 7px; box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;" width="100%"  src="{{ videos.display }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-lg-6">
          <span class="video-side-text">
          <p class="lead">            
          {{ videos.subtitle }}
          </p>  
          </span>
        </div>
        {% endfor %}
        <hr>
      </div>
      </div>
    </div>
  </div>
  


{% endblock content %}
