
<html lang="en">
  {% load static %}
  {% load pwa %}

<head>
  {% progressive_web_app_meta %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">  
  <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Josefin Sans' rel='stylesheet'>
  <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'events/indexnewstyle-events.css' %}">
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    {% block head %}

    {% endblock %}

</head>

<body>
  <nav class="navbar fixed-top navbar-expand-lg">
		<a class="navbar-brand" href="{% url 'home:home' %}"><img src="{% static 'home/logo.png' %}" class="img-responsive logo" alt="APA logo"/></a>
		  <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
	
		  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
			<ul class="navbar-nav ml-auto mt-2 mt-lg-0">
			  {% if request.user.is_authenticated %}
		
			  <!-- <li class="nav-item">
				  <a class="nav-link title" href="{% url 'register' %}">Sign Up</a>
				</li> -->
			  <li class="nav-item">
				  <a class="nav-link title" href="home:home">Home</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link title" href="{% url 'home:contactus' %}">Contact</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link title dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					  Your Profile
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					  <a class="dropdown-item title" href="{% url 'account_update' %}">Update Profile</a>
					  <a class="dropdown-item title" href="{% url 'password_change' %}">Change Password</a>
					  <a class="dropdown-item title" href="{% url 'account_list' %}">Members</a>
					  <div class="dropdown-divider"></div>
					  <a class="dropdown-item title" href="{% url 'logout' %}">Logout</a>
					</div>
				  </li>
				  <li class="nav-item dropdown">
					<a class="nav-link title dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					  Pages
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					  <a class="dropdown-item title" href="{% url 'home:home' %}">Home</a>
					  <a class="dropdown-item title" href="{% url 'home:gallery' %}">Gallery</a>
					  <a class="dropdown-item title" href="{% url 'home:video' %}">Videos</a>
					  <a class="dropdown-item title" href="{% url 'home:visions' %}">Our visions</a>
					  <a class="dropdown-item title" href="{% url 'event:events' %}">Events</a>

				  </li>
		

			  {% else %}

        <li class="nav-item">
				  <a class="nav-link title" href="{% url 'home:contactus' %}">Contact</a>
				</li>
			  <li class="nav-item">
				  <a class="nav-link title" href="{% url 'login' %}">Login</a>
				</li>
		
			  <li class="nav-item">
		  <a class="nav-link title" href="{% url 'account_list' %}">Members</a>

		</li>
				  <li class="nav-item">
            <a class="nav-link title" href="{% url 'home:visions' %}">Visions</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link title" href="{% url 'event:events' %}">Events</a>
		</li>

		  
	
		  
	
	
		  {% endif %}
			  
			</ul>

			
  
				
	
		  </div>
		</nav>
      <script>
        var navbar = document.querySelector('nav')
    
    window.onscroll = function() {
    
    // pageYOffset or scrollY
    if (window.pageYOffset > 2) {
      navbar.classList.add('scrolled')
    } else {
      navbar.classList.remove('scrolled')
    }
    };
    </script>


    {% block content %}
    
    {% endblock %}

    <footer id="footer" class="section footer">
      <div class="container">
        <div class="footer__top">
        
          <div class="footer-top__box">
            <h3 class="title text-left">INFORMATION</h3>
            <a class="sub-title" href="{% url 'home:home' %}">About Us</a>
            <a class="sub-title" href="#">Privacy Policy</a>
            <a class="sub-title" href="{% url 'home:contactus' %}">Contact Us</a>
          </div>
      
         {% if request.user.is_authenticated  %}

         <div class="footer-top__box">
          <h3 class="title text-left">MEMBERSHIP</h3>
          <!-- <a class="sub-title" href="#">My Account</a> -->
          <a class="sub-title" href="#">Update Account</a>
          <a class="sub-title" href="#">Resources</a>
          <a class="sub-title" href="#">Other members</a>
        </div>

        {% else %}

        <div class="footer-top__box">
          <h3 class="title text-left">MEMBERSHIP</h3>
          <a class="sub-title" href="#">Get membership</a>
          <a class="sub-title" href="#">View Members</a>
          <a class="sub-title" href="#">Benefits</a>
        </div>
           
         {% endif %}
            
          <div class="footer-top__box">
            <h3 class="title text-left">Developers Contact</h3>
         
            <div class="sub-title">
              developer@gmail.com
            </div>
            <div class="sub-title">

            9477281022
            </div>
            <div class="sub-title">
              Manipal, Karnataka              </div>
          </div>
        </div>
      </div>
      <div class="footer__bottom">
        <div class="footer-bottom__box">

        </div>
        <div class="footer-bottom__box">

        </div>
      </div>
      </div>
    </footer>
    
      <script src="jquery.counterup.min.js"></script>
    <script src="app.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="app.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <script>
      AOS.init({
        once: true,

      });
    </script>

    
{% block script %}

{% endblock %}
</body>
</html>
