{% extends 'events/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'events/event.css' %}">
<title> APA | {{ event.title }} </title>
<script type="text/javascript" src="https://addevent.com/libs/atc/1.6.1/atc.min.js" async defer></script>

<style>
  .event-images{

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 7px;  }

    .speaker-image{
      border-radius: 50%;
      height: 180px;
      width: 180px;
    }
    .card-container{
      margin-left: 10%; margin-top: 5%; margin-bottom: 10%;
    
    }
    .card{
      height: 100%;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        }
    @media only screen and (max-width: 768px) {
      .card-container{
      margin-left: 0%; margin-top: 5% !important; margin-bottom: 10% !important;
    }
    .card-margin{
      margin-top: 2%;
    }
    .register-btn{
      margin: 3%;
    }
    }
</style>
{% endblock %}
{% block content %}

<header class="header" style="margin-bottom: 5%;">
  <div class="text-box">
    <h1 class="heading-primary">
      <span class="heading-primary-main" style="font-size: 110%;"> {{ event.title }} </span>
    </h1>
    <!-- <a href="#" class="btn btn-white btn-animated">SCROLL DOWN</a> -->
  </div>
  <div class="box">
    <span></span>
    <span></span>
    <span></span>
    </div>

</header>

<div class="container apa-event-description" style="margin-top: 2%;">

  <div class="row">
   <div class="col-lg-5">
    <h3 style="  font-family: Oswald !important;
    " >{{ event.subtitle }}</h3>


<div style="font-size: 110%; font-family: Oswald;">{{ event.startdate}}, {{ event.location }}</div>
<br>
    <p style="padding: 1%; line-height:160%;"> {{ event.content}} </p>
<button class="btn btn-success register-btn">    <a style=" color: white; margin-bottom: 5% !important; font-size: 120%; font-family: Oswald;" href="{{ event.link }}">Click here to register</a>
</button>    <div   style="background-color: rgb(179, 179, 245); font-family: Oswald;" title="Add to Calendar" class="addeventatc btn register-btn">
  Add to Calendar
  <span class="start">{{ event.startdate }}</span>
  <span class="end">{{ event.enddate }}</span>
  <span class="timezone">Asia/Calcutta</span>
  <span class="title">{{ event.subtitle }}</span>      <span class="description">Description of the event</span>
  <span class="location">{{ event.location }}</span>
</div> </div> 

 
  
  <div class="col-lg-7">
     
 <div class="container-fluid">
   <div class="row">
    {% for p in photos %}
     <div class="col-lg-6">
      <img class="event-images" src="{{ p.images.url }}" width="100%" style="padding: 1%;" alt="{{ event.title }}" class="card-image">
     </div>
    {% endfor %}
   </div>
 </div>
</div>
</div>
</div>


{% if table %}
<div class="container col-lg-8 col-md-10 mt-5" style="margin-bottom: 5%;">
<table class="table table-striped">
  <thead>
      <tr class="apa-events-table-header">
        <th scope="col"> </th>
        <th scope="col">Time (IST) </th>
        <th scope="col">Event Details</th>
       </tr>
  </thead>
  <tbody>
{% endif %}


{% for t in table %}
    <tr>
      <th scope="row"></th>
     <td style="  font-family: Josefin Sans !important;
     "> {{ t.start_date_for_day }} - {{ t.end_date_for_day }} </td>
     <td>
        <ul type="disc">
           <h3 style="  font-family: Josefin Sans !important;
           ">{{ t.title_for_day }}</h3>
           <p style=" font-family: Josefin Sans !important;"> {{ t.description_for_day }}</p>
         </ul>
        </td>
    </tr>    
{% endfor %}
      
</tbody>
</table>
</div>


{% if speakers %}
<h1 style="color: black; margin-top: 5%; font-family: Oswald; font-size: 380%;" > <span style="color: tomato;">Speakers and Moderators</span></h1>

  
{% endif %}
  

<div class="container text-center card-container" >
  <div class="row">

  {% for s in speakers %}

  <div class="col-lg-3 card-margin" >
    <div class="card text-center" >
      <div class="card-body">

        <img class="card-img-top speaker-image" src="{{ s.photo.url }}" width="100px" alt="">
        <br><br> 
        <h5 class="card-title" style="font-family: Oswald; color: gray; ">{{ s.name }}</h5>
        <p class='role' style="font-size: 12; font-style: italic; color: gray;">{{ s.role }}</p>
<hr>
        <p class="card-text mute" style="font-family: Josefin Sans; color: cadetblue;">{{ s.details }}</p>
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
    </div>    </div>

    
  {% endfor %}
    
  </div>
</div>

{% endblock content %}

