{% extends 'events/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'events/event.css' %}">
<title> APA | {{ event.title }} </title>
<script type="text/javascript" src="https://addevent.com/libs/atc/1.6.1/atc.min.js" async defer></script>

<style>
  .event-images{

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 7px;  }
</style>
{% endblock %}
{% block content %}

<header class="header" style="margin-bottom: 5%;">
  <div class="text-box">
    <h1 class="heading-primary">
      <span class="heading-primary-main" style="font-size: 110%;"> {{ event.title }} </span>
    </h1>
    <!-- <a href="#" class="btn btn-white btn-animated">SCROLL DOWN</a> -->
  </div>
  <div class="box">
    <span></span>
    <span></span>
    <span></span>
    </div>

</header>

<div class="container apa-event-description" style="margin-top: 2%;">

  <div class="row">
   <div class="col-lg-5">
    <h3 style="  font-family: Oswald !important;
    " >{{ event.subtitle }}</h3>


<div style="font-size: 110%; font-family: Oswald;">{{ event.startdate}}, {{ event.location }}</div>
<br>
    <p style="padding: 1%; line-height:160%;"> {{ event.content}} </p>
<button class="btn btn-success">    <a style=" color: white; margin-bottom: 5% !important; font-size: 120%;" href="{{ event.link }}">Click here to register</a>
</button>    <div  style="background-color: rgb(179, 179, 245);" title="Add to Calendar" class="addeventatc btn">
  Add to Calendar
  <span class="start">{{ event.startdate }}</span>
  <span class="end">{{ event.enddate }}</span>
  <span class="timezone">Asia/Calcutta</span>
  <span class="title">{{ event.subtitle }}</span>      <span class="description">Description of the event</span>
  <span class="location">{{ event.location }}</span>
</div> </div> 

 
  
  <div class="col-lg-7">
     
 <div class="container-fluid">
   <div class="row">
    {% for p in photos %}
     <div class="col-lg-6">
      <img class="event-images" src="{{ p.images.url }}" width="100%" style="padding: 1%;" alt="{{ event.title }}" class="card-image">
     </div>
    {% endfor %}
   </div>
 </div>
</div>
</div>
</div>


{% if table %}
<div class="container col-lg-8 col-md-10 mt-5" style="margin-bottom: 5%;">
<table class="table table-striped">
  <thead>
      <tr class="apa-events-table-header">
        <th scope="col"> </th>
        <th scope="col">Time (IST) </th>
        <th scope="col">Event Details</th>
       </tr>
  </thead>
  <tbody>
{% endif %}


{% for t in table %}
    <tr>
      <th scope="row"></th>
     <td style="  font-family: Josefin Sans !important;
     "> {{ t.start_date_for_day }} - {{ t.end_date_for_day }} </td>
     <td>
        <ul type="disc">
           <h3 style="  font-family: Josefin Sans !important;
           ">{{ t.title_for_day }}</h3>
           <p style=" font-family: Josefin Sans !important;"> {{ t.description_for_day }}</p>
         </ul>
        </td>
    </tr>    
{% endfor %}
      
</tbody>
</table>
</div>

{% endblock content %}

