{% extends 'events/base.html' %} 

{% block head %}

<title>APA | Events</title>

{% endblock %} 

{% block content %}
<body class="apa-event-index">
    <div style="height: 100px;"></div>
<h1 style="margin-top: 4% !important;" class="sub-title text-center my-3" data-aos="zoom-out" data-aos-duration="1000">
    Our Events
  </h1>
  <p style="font-family: Josefin Sans;" class="lead text-center"data-aos="fade-zoom-in" data-aos-duration="1200">Get to know more about our upcoming events.</p>
<div class="team-boxed event-page-box">


{% if event_list %}
<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
<div class="container ">

    <div class="row people">
      
        {% for event in event_list %}

     
     
        <div class="col-md-6 col-lg-4 item"data-aos="fade-up" data-aos-duration="500" data-aos-delay="800">
          <div class="box">
            <h3 class="name sub-title">{{ event.title }}</h3>
            <span class="sub-text title">{{ event.location }} </span>
            <div class="sub-text sub-title">{{ event.startdate}} - {{ event.enddate }}</div>

            <p class="description">{{ event.content|slice:":200" }} ... </p>
            <!-- <div class="social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div> -->
                <a class="apa-btn-ripple sub-title" href="{% url 'event:details' event.slug  %}">Read more</a>

          </div>
        </div>

        {% endfor %}
    </div>
</div>

{% else %}

<div class="container" class="text-center m-auto">
 
    <p style="font-family: Josefin Sans;"> We do not have any upcoming events, please check in later.</p>
<hr>
<a style="font-family: Josefin Sans; class="text-center" href="{% url 'home:home' %}"> Take me to home page </a>
</div>
    <div style="height:300px;" ></div>
{% endif %}
    

</div>
<div class="pagination">
  <span class="step-links">
      {% if page_obj.has_previous %}
          <a href="?page=1">&laquo; first</a>
          <a href="?page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">next</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
  </span>
</div>
</body>
{%endblock%}
