{% extends 'accounts/base.html' %}
{% load static %}
{% block head %}
   <style>
       @media (max-width: 768px){
           h1{
               margin-top: 35% !important;
               margin-bottom: 10%;
              
           }
       }
       .extra-div{
           margin-top: 15%;
       }
   </style>
{% endblock %}


{% block content %}
<div class="extra-div">

</div>
<div  class="container logout-wrap text-center" style="font-family: Josefin Sans; margin-bottom: 12%;" >
    <h1 style="color: black !important;">You have logged out of your account</h1>

    <a href="{% url 'login' %}"> Login Again </a>
    <hr>
    <a href="{% url 'home:home' %}"> Take me to home page </a>

</div>
    
{% endblock content %}
    