{% extends 'accounts/base.html' %}


{% block content %}

<style type="text/css">
  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
    padding: 5%;
  }
  .form-signin input[type="email"] {
    margin-bottom: 10px !important;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    padding: 5%;
  }
  .font-title-reset{
    text-align: center !important;
    font-size: 300% !important;
    font-family: Oswald;
  }

p{
  font-family: Josefin Sans;
}
</style>

<div class="container-fluid>
  
<form method="POST" style="margin-top: 10%;" class="form-signin">{% csrf_token %}
  <p class= "font-title-reset font-weight-normal text-center">Reset password</p>
  <p class="text-center">We will send you a link in the following email id containing instructions to reset your password.</p>
    <input name="email" class="form-control" placeholder="Email address" type="email" id="id_email" required="true">


	<button class="btn btn-lg btn-primary btn-block" type="submit">Send reset email</button>  
</form>

</div>


{% endblock %}